@import url('https://fonts.cdnfonts.com/css/ozda');
@import url('https://fonts.cdnfonts.com/css/dotboundary-fixed');
body {
    padding-top: 120px;
    background-color:#F2E3DB;
}
#topicos {
    width: 100%;
    left: 0;
    top: 0;
    background-color:#8F43EE;
    border-bottom: 5px solid #52258a ;
    position: fixed;
    padding-top: 20px ;
}
.block{
    text-decoration: none;
    padding-left: 90px;
   
    line-height: 20px;
    text-transform: uppercase;
    color: black;
    font-family: 'Ozda', sans-serif;
}
#log{
    text-align: center;
    margin-top: 180px;
   font-family: 'DotBoundary-Fixed', sans-serif;
}
footer{
   position: fixed;
   bottom: 0;
   left: 0;
}
h3{
    text-transform: uppercase;
}
#but{
    border-radius:10px ;
    border: 2px solid black;
    font-family: 'DotBoundary-Fixed', sans-serif;
}

h1{    font-family: 'Ozda', sans-serif;}
#voltar{
    text-decoration: none;
  color: black;
}